.companies {
  padding-block: 30px;
  padding-right: 100px;
  padding-left: 100px;
}

.companies_container {
  max-width: 2500px;
  margin-inline: auto;
}

.companies_list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.inform {
  font-weight: 500;
  font-size: 20px;
  color: #19191B;
  padding: 19px 59px;
  background: #ece9e9;
  border-radius: 14px;
  text-decoration: none;
  display: inline-block;
  transition: background 0.2s;
}

.inform:hover {
  background: #ddd;
}